<launch>
    <param name="use_sim_time" value="true" />
    
    <arg name="resource_dir" default="$(find digiforest_simulation)/resources/worlds:$(find digiforest_simulation)/resources/models" />
    <arg name="verbosity" default="4"/>
    <arg name="robot_name" default="rmf_owl"/>
    <!--<arg name="world" default="skokloster_castle"/>-->
    <!--<arg name="world" default="skokloster_castle"/>-->
    <arg name="world" default="depot"/>

    <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
        <env name="IGN_GAZEBO_MODEL_PATH" value="$(arg resource_dir)" />
        <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(arg resource_dir)" />
        <arg name="ign_args" value="-r -v $(arg verbosity) $(arg world).sdf"/>
    </include>

    <node pkg="ros_ign_bridge" type="parameter_bridge" name="$(anon ros_ign_bridge)" args="/clock@rosgraph_msgs/Clock[ignition.msgs.Clock">
    </node>
</launch>